
MonkeyHub.xcodeproj/project.xcworkspace/xcuserdata/muratcankoc.xcuserdatad/UserInterfaceState.xcuserstate

.idea/

MonkeyHub.xcodeproj/xcuserdata/muratcankoc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcbkptlist

MonkeyHub/API/SensitiveData.swift
